body{
	margin: 0;
	font-family: 'Roboto', 'Open Sans', sans-serif;
}

#root{
	display: flex;
	border: 1px solid green;
}

.container{
	display: flex;
	height: 700px;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	flex-shrink: 1;
	/*Added to prevent weird resizing issue.*/
	max-width: 100%;
	border: 1px solid cyan;
}

.weather-cards-group{
	display: flex;
	justify-content: center;
	flex-basis: 200px;
	border: 1px solid red;
}

.weather-cards-group a{
	border: 1px solid gray;
	display: flex;
	flex-shrink: 1;
	justify-content: center;
	flex-basis: 150px;
	text-decoration: none;
	color: black;
}

.hourly{
	flex-basis: 350px;
	border: 1px solid magenta;
}

.weather-card{
	display: flex;
	flex-basis: 150px;
	flex-direction: column;
	align-items: stretch;
	border: 1px solid black;
	border-radius: 5px;
}

.day{
	display: flex;
	justify-content: center;
}

.weather-icon{
	display: flex;
	justify-content: center;
}

.card-mid{
	flex-basis: 86px;
}

.weather-icon img{
	width: 100%;
	height: 100%;
}

.temperatures{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}

.temperatures p{
	margin: 0;
	padding: 0;
}

.temperatures .low{
	color: blue;
}

.temperatures .high{
	color: red;
}

.temperatures .reg{
	color: brown;
}

.center-links{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 60px;
}

.index-link{
	display: flex;
	justify-content: center;
	flex-basis: 200px;
	min-height: 50px;
	align-items: center;
	text-decoration: none;
	font-size: 1.5em;
	border: 1px solid gray;
	border-radius: 10px;
}

.index-link:visited{
	color: black;
}

.hourly-data{
	display: flex;
	justify-content: space-around;
}

.hourly-snapshot{
	border: 1px solid orange;
	flex-basis: 50px;
}

footer{
	border: 1px solid indigo;
	padding: 10px;
}

footer p{
	text-align: center;
	margin: 0;
}

@media screen and (min-width: 768px){
	.container{
		height: 1024px;
	}

	.weather-cards-group{
		flex-basis: 300px;
	}

	.day{
		flex-basis: 60px;
	}

	.weather-cards-group h3{
		font-size: 2em;
	}

	.weather-icon img{
		width: 80%;
		height: 80%;
		padding-bottom: 10px;
	}

	.index-link{
		font-size: 2em;
		flex-basis: 250px;
	}

	.temperatures{
		font-size: 1.5em;
	}

	.hourly{
		flex-basis: 500px;
		width: 90%;
		display: flex;
		margin: 0 auto;
	}

	footer{
		font-size: 1.5em;
	}
}

/*At this width we're likely dealing with high-density tablets*/
@media screen and (min-width: 1024px){
	.container{
		height: 1366px;
	}

	.hourly{
		flex-basis: 700px;
	}
}

/*At this width, we're likely dealing with a boring ol' desktop again.*/
@media screen and (min-width: 1224px){
	.container{
		height: 800px;
	}

	.weather-cards-group{
		flex-basis: 200px;
	}

	.weather-cards-group h3{
		font-size: 1.5em;
	}

	.weather-icon img{
		width: 60%;
		height: 60%;
	}

	.center-links{
		flex-basis: 1px;
	}

	.index-link{
		font-size: 1.5em;
		min-height: 40px;
	}

	.temperatures{
		font-size: 1em;
	}

	.hourly{
		flex-basis: 400px;
	}

	footer{
		font-size: 1em;
	}
}