body{
	margin: 0;
}

#root{
	display: flex;
	border: 1px solid green;
}

.container{
	display: flex;
	height: 650px;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	border: 1px solid cyan;
}

.weather-cards-group{
	display: flex;
	justify-content: center;
	flex-basis: 200px;
	border: 1px solid red;
}

.weather-cards-group a{
	border: 1px solid gray;
	display: flex;
	justify-content: center;
	flex-basis: 150px;
	text-decoration: none;
	color: black;
}

.hourly{
	flex-basis: 350px;
	border: 1px solid magenta;
}

.weather-card{
	display: flex;
	flex-basis: 150px;
	flex-direction: column;
	align-items: stretch;
	border: 1px solid black;
	border-radius: 5px;
}

.day{
	display: flex;
	justify-content: center;
}

.weather-icon{
	display: flex;
	justify-content: center;
}

.temperatures{
	display: flex;
	justify-content: space-around;
}

.hourly-data{
	display: flex;
	justify-content: space-around;
}

.hourly-snapshot{
	border: 1px solid orange;
	flex-basis: 50px;
}